@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    padding: 0 2rem;
    
    border: 2px solid red ;
}

.products {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}

.product {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    box-shadow: 30px 30px 40px rgb(0, 0, 0,0.02);
    cursor: pointer;
   
    border-radius: 25px;
    transition: 0.26 ease;
    position: relative;
    display: inline-block;
    overflow: hidden;
    
}


.product img {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}
.product:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0,0.30);
    
}
.product:hover{
    transform: scale(1.03);
}

.product:hover img{
   opacity: 0;
}

.product:hover .product-hover{
    opacity: 1;
}

.product img{
    width: 100%;
    /* height: 70%; */
    transition: all linear 0.2s;
}

.product .product-hover{
    width: 95%;
    padding: 10px;
}

.product img.product-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product-content {
    padding: 1rem 2rem;
    
    
    
}

.product .product-title {
    font-size: 1.5rem;
}

.product-description {
    text-align: justify;
}

.product-title,
.product-price-container,
.product-description,
.product-category {
    padding: 0.5rem 0;
}

.product-price-container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart {
    background: rgb(16, 8, 69);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    border-radius: 1rem;
}

.add-to-cart ion-icon {
    font-size: 3rem;
}

#filter{
    border: 2px solid black;
    width: 30%;


}
#Display{
    display: flex;
}
#Filter_category{
    border: 2px solid green;
    background-color: gainsboro;
    width: 90%;
    height: 35px ;
    text-align: center;
}
#Filter_Brand{
    border: 2px solid green;
    background-color: gainsboro;
    width: 90%;
    height: 35px ;
    text-align: center;
}
#filter_size{
    border: 2px solid green;
    background-color: gainsboro;
    width: 90%;
    height: 35px ;
    text-align: center;
}

#filter_price{
    border: 2px solid green;
    background-color: gainsboro;
    width: 90%;
    height: 35px ;
    text-align: center;
}


/* navigation  */

#nav1{
    display: flex;
    padding-top: 1%;
    width: 100%;
    /* height: 3vh; */
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
   }
   input{
       margin-left: 20px;
       width: 300px;
       height: 40px;
       margin-top: 6px;
       border-radius: 7px;
       border: 2px solid orange;
   }
   #inpbutton{
       margin-left: -34px;
       background-color: white;
       border: none;
       font-size: 15px;
       color: orange;
       margin-top: 13px;
       height: 25px;
   }
   
   
   #nav1>div{
       display: flex;
   }
   #nav1>div:nth-child(2){
       margin: 18px 30px;
   }
   #nav1>div:nth-child(2)>a{
       text-decoration: none;
       margin-right:6px;
       color: grey;
   }
   #nav1>div:nth-child(2)>a:hover{
      text-decoration: underline;
   }
   .verticalline{
       height: 17px;
       width: 1.5px;
       margin-top: 1px;
       margin-right: 5px;
       background-color: rgb(204, 200, 200);
   }
   #nav2{
       display: flex;
       height: 6vh;
       width: 100%;
       justify-content: center;
       gap: 14px;
      background-color:#F5CD12;
      align-items: center;
   }
   #nav2 ul{
       display: inline-flex;
       list-style: none;
       color: rgb(52, 48, 48);
       
   }
   #nav2 ul li{
       padding: 5px 10px;
       height: 35px;
       margin-left: 10px;
   }
   #nav2 ul li a{
       text-decoration: none;
       color: rgb(55, 52, 52);
       font-weight: 600;
       font-family: Calibri;
   }
   .submenu-1{
   display: none;
   background-color:white;
   
   
   }
   #nav2>ul>li:hover{
       background-color:whitesmoke;
       border-radius: 5px;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }
   #nav2 ul li:hover .submenu-1{
       display: flex;
       position: absolute;
       margin-top: 11px;
       margin-left: -11vw;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
       width: 100%;
      
   }
   #nav2 ul li:hover .submenu-1 ul{
       display:block;
       margin-left: 1vw;
       margin-top: 40px;
       width: 100%;
   } 
   #nav2 ul li:hover .submenu-1 ul li {
     margin-left: -10px;
     width: 100%;
   /* background-color: red; */
   
   
   } 
   #nav2 ul li:hover .submenu-1>ul>li>a:hover{
       text-decoration: underline;
     
     }

     /* hover css */

