main{
    padding: 50px;
    height: 100vh;
    color: #424242;
}
main > .path{
    font-size: 14px;
}
main > .content{
    display: flex;
    height: 100%;
    margin-top: 20px;
    gap: 10px;
}
main > .content > *{
    flex: 1;
}
main > .content .image-view{
    display: flex;
    gap: 10px;
}
main > .content .image-view .images{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main > .content .image-view .images img{
    width: 70px;
}
main > .content .image-view .image{
    flex: 1;
}
main > .content .image-view .image button{
    background-color: #ff7043;
    height: 50px;
    width: 100%;
    max-width: 200px;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color .2s;
}
main > .content .image-view .image button:hover{
    background-color: #ffa143;
    cursor: pointer;
}
main > .content .image-view .image img{
    width: 100%;
}
main > .content .product-details{
    display: flex;
    flex-direction: column;
}
main > .content .product-details .title{
    font-weight: bold;
    font-size: 20px;
}
main > .content .product-details .p-id{
    font-size: 14px;
}

main hr{
    width: 100%;
    background: rgb(227, 227, 227);
    height: .5px;
    border: none;
    margin: 15px 0;
}

main > .content .product-details .price{
    display: flex;
    gap: 10px;
    font-size: 19px;
}

main > .content .product-details .price .selling{
    font-weight: bold;
    color: #00325f;
}
main > .content .product-details .price .mrp{
    color: rgb(171, 171, 171);
}
main > .content .product-details .price .discount{
    color: #ff7043;
}

main > .content .shipping{
    display: flex;
    margin: 15px 0;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px;
    overflow: hidden;
    align-self: flex-start;
    flex-direction: column;
}
main > .content .shipping .details{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
main > .content .shipping .details img{
    height: 40px;
}
main > .content .shipping .details .info{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    position: relative;
}
main > .content .shipping .details .info span:first-child{
    display: flex;
    align-items: center;
    gap: 5px;
}
main > .content .shipping .details .info span:first-child img{
    height: 15px;
}
main > .content .shipping .details .info span:last-child{
    font-size: 14px;
}
main > .content .shipping .details .info span:last-child span{
    color: rgb(24, 186, 59);
}
main > .content .shipping .details .button{
    display: flex;
    align-items: center;
    color:#ff7043;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}
main > .content .shipping .offer{
    padding: 5px;
    font-size: 14px;
    border-top: 1px solid rgb(224, 211, 103);
    background-color: #fffbe8;
    display: flex;
    align-items: center;
    gap: 10px;
}
main > .content .sizes{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
main > .content .sizes p{
    font-size: 14px;
    font-weight: bold;
}
main > .content .sizes .options{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
main > .content .sizes .options div{
    border: 1px solid rgb(227, 227, 227);
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
main > .content .sizes .options div.selected{
    outline: 1.5px solid #424242;
}