 #Main{display: grid;
grid-template-columns: repeat(1,1fr);
 margin-left: 40vw;
 margin-top: 3vh;
 gap: 30px;

}
.register{
 border: none;
 border-bottom: 2px solid rgb(246, 108, 22);
 width: 270px;
}
#registerBtn{
 width: 270px;
 margin-top:18px;
 height: 40px;
 border: none;
 border-radius: 6px;
 font-size: 24px;
 font-weight: 800;
 font-family: calibri;
color: white;
background-color:rgb(246, 108, 22) ;
margin-bottom: 10px;
}
#registerBtn:hover{
      cursor:pointer;
}
.register:focus{
      border-bottom:3px solid red;
  }
 

.register:focus{
 outline: none;
 height: 40px;
}

@media only screen and (max-width:500px) {
      #Main{
             margin-left: 10vw;
      }
     
            
            
}